In [1]:
%pip install scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

  Downloading scikit_learn-1.6.1-cp311-cp311-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\tz\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.2.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.8 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.8 kB 262.6 kB/s eta 0:00:01
     -------------------------------- ----- 51.2/60.8 kB 260.9 kB/s eta 0:00:01
     -------------------------------------- 60.8/60.8 kB 268.7 kB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp311-cp311-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB 991.0 kB/s eta 0:00:12
   ---------------------------------------- 0.1/11.1 MB 787.7 kB/s eta 0:00:15
   ---------------------------------------- 0.1/11.1 MB 798.9 kB/s eta 0:00:14
    --------------------------------------- 0.2/11.1 MB 1.1 MB/s eta 0:00:10
   - -------------------------------------- 0.3/11.1 MB 1.2 MB/s eta 0:00:10
   - -------------------------------------- 0.4/11.1 MB 1.3 MB/s eta 0:00:09
   - -------------------------------------- 0.4/11.1 MB 1.3 MB/s eta 0:00:08
   - -------------------------------------- 0.5/11.1 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.6/11.1 MB 1.5 MB/s eta 0:00:08
   -- ------------------------------------- 0.7/11.1 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.7/11.1 MB 1.4 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/11.1 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 0.9/11.1 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/11.1 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.1/11.1 MB 1.6 MB/s eta 0:00:07
   ---- ----------------------------------- 1.1/11.1 MB 1.6 MB/s eta 0:00:07
   ---- ----------------------------------- 1.3/11.1 MB 1.7 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/11.1 MB 1.7 MB/s eta 0:00:06
   ---- ----------------------------------- 1.3/11.1 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.5/11.1 MB 1.6 MB/s eta 0:00:06
   ----- ---------------------------------- 1.5/11.1 MB 1.6 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/11.1 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.7/11.1 MB 1.6 MB/s eta 0:00:06
   ------ --------------------------------- 1.8/11.1 MB 1.7 MB/s eta 0:00:06
   ------ --------------------------------- 1.9/11.1 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.0/11.1 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.1 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.2/11.1 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.2/11.1 MB 1.6 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.1 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.5/11.1 MB 1.7 MB/s eta 0:00:06
   --------- ------------------------------ 2.6/11.1 MB 1.7 MB/s eta 0:00:05
   --------- ------------------------------ 2.7/11.1 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.8/11.1 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.1 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.1 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 3.0/11.1 MB 1.8 MB/s eta 0:00:05
   ----------- ---------------------------- 3.2/11.1 MB 1.8 MB/s eta 0:00:05
   ----------- ---------------------------- 3.3/11.1 MB 1.8 MB/s eta 0:00:05
   ------------ --------------------------- 3.5/11.1 MB 1.9 MB/s eta 0:00:05
   ------------- -------------------------- 3.6/11.1 MB 1.9 MB/s eta 0:00:04
   ------------- -------------------------- 3.8/11.1 MB 1.9 MB/s eta 0:00:04
   -------------- ------------------------- 3.9/11.1 MB 2.0 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.1 MB 2.0 MB/s eta 0:00:04
   --------------- ------------------------ 4.3/11.1 MB 2.0 MB/s eta 0:00:04
   --------------- ------------------------ 4.4/11.1 MB 2.1 MB/s eta 0:00:04
   ---------------- ----------------------- 4.6/11.1 MB 2.1 MB/s eta 0:00:04
   ----------------- ---------------------- 4.8/11.1 MB 2.1 MB/s eta 0:00:03
   ------------------ --------------------- 5.0/11.1 MB 2.2 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.1 MB 2.2 MB/s eta 0:00:03
   ------------------- -------------------- 5.3/11.1 MB 2.3 MB/s eta 0:00:03
   ------------------- -------------------- 5.5/11.1 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.1 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 5.8/11.1 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 5.9/11.1 MB 2.3 MB/s eta 0:00:03
   ---------------------- ----------------- 6.2/11.1 MB 2.4 MB/s eta 0:00:03
   ----------------------- ---------------- 6.4/11.1 MB 2.4 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.1 MB 2.4 MB/s eta 0:00:02
   ------------------------ --------------- 6.8/11.1 MB 2.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.0/11.1 MB 2.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.2/11.1 MB 2.5 MB/s eta 0:00:02
   -------------------------- ------------- 7.5/11.1 MB 2.6 MB/s eta 0:00:02
   --------------------------- ------------ 7.7/11.1 MB 2.6 MB/s eta 0:00:02
   ---------------------------- ----------- 8.0/11.1 MB 2.7 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.1 MB 2.7 MB/s eta 0:00:02
   ----------------------------- ---------- 8.2/11.1 MB 2.6 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/11.1 MB 2.7 MB/s eta 0:00:02
   ------------------------------ --------- 8.6/11.1 MB 2.7 MB/s eta 0:00:01
   ------------------------------- -------- 8.9/11.1 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 9.1/11.1 MB 2.7 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/11.1 MB 2.8 MB/s eta 0:00:01
   ----------------------------------- ---- 9.9/11.1 MB 2.8 MB/s eta 0:00:01
   ----------------------------------- ---- 10.0/11.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.1/11.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.4/11.1 MB 3.0 MB/s eta 0:00:01
   -------------------------------------- - 10.8/11.1 MB 3.1 MB/s eta 0:00:01
   ---------------------------------------  11.0/11.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  11.1/11.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 3.2 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   -- ------------------------------------- 20.5/301.8 kB ? eta -:--:--
   ----------------------------- ---------- 225.3/301.8 kB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 3.1 MB/s eta 0:00:00
Downloading scipy-1.15.1-cp311-cp311-win_amd64.whl (43.9 MB)
   ---------------------------------------- 0.0/43.9 MB ? eta -:--:--
   ---------------------------------------- 0.2/43.9 MB 7.3 MB/s eta 0:00:07
   ---------------------------------------- 0.5/43.9 MB 6.8 MB/s eta 0:00:07
    --------------------------------------- 0.8/43.9 MB 6.6 MB/s eta 0:00:07
   - -------------------------------------- 1.2/43.9 MB 6.8 MB/s eta 0:00:07
   - -------------------------------------- 1.5/43.9 MB 6.6 MB/s eta 0:00:07
   - -------------------------------------- 1.7/43.9 MB 6.5 MB/s eta 0:00:07
   - -------------------------------------- 2.1/43.9 MB 6.5 MB/s eta 0:00:07
   -- ------------------------------------- 2.4/43.9 MB 6.6 MB/s eta 0:00:07
   -- ------------------------------------- 2.7/43.9 MB 6.7 MB/s eta 0:00:07
   -- ------------------------------------- 3.0/43.9 MB 6.5 MB/s eta 0:00:07
   --- ------------------------------------ 3.3/43.9 MB 6.6 MB/s eta 0:00:07
   --- ------------------------------------ 3.6/43.9 MB 6.6 MB/s eta 0:00:07
   --- ------------------------------------ 4.0/43.9 MB 6.7 MB/s eta 0:00:07
   --- ------------------------------------ 4.2/43.9 MB 6.6 MB/s eta 0:00:06
   --- ------------------------------------ 4.2/43.9 MB 6.4 MB/s eta 0:00:07
   --- ------------------------------------ 4.3/43.9 MB 5.8 MB/s eta 0:00:07
   --- ------------------------------------ 4.3/43.9 MB 5.5 MB/s eta 0:00:08
   ---- ----------------------------------- 4.4/43.9 MB 5.4 MB/s eta 0:00:08
   ---- ----------------------------------- 4.8/43.9 MB 5.4 MB/s eta 0:00:08
   ---- ----------------------------------- 5.1/43.9 MB 5.5 MB/s eta 0:00:08
   ---- ----------------------------------- 5.4/43.9 MB 5.6 MB/s eta 0:00:07
   ----- ---------------------------------- 5.7/43.9 MB 5.6 MB/s eta 0:00:07
   ----- ---------------------------------- 5.8/43.9 MB 5.6 MB/s eta 0:00:07
   ----- ---------------------------------- 6.0/43.9 MB 5.4 MB/s eta 0:00:07
   ----- ---------------------------------- 6.2/43.9 MB 5.4 MB/s eta 0:00:08
   ----- ---------------------------------- 6.3/43.9 MB 5.4 MB/s eta 0:00:07
   ----- ---------------------------------- 6.5/43.9 MB 5.2 MB/s eta 0:00:08
   ------ --------------------------------- 6.8/43.9 MB 5.2 MB/s eta 0:00:08
   ------ --------------------------------- 7.1/43.9 MB 5.3 MB/s eta 0:00:07
   ------ --------------------------------- 7.4/43.9 MB 5.3 MB/s eta 0:00:07
   ------- -------------------------------- 7.7/43.9 MB 5.4 MB/s eta 0:00:07
   ------- -------------------------------- 8.1/43.9 MB 5.4 MB/s eta 0:00:07
   ------- -------------------------------- 8.2/43.9 MB 5.5 MB/s eta 0:00:07
   ------- -------------------------------- 8.2/43.9 MB 5.5 MB/s eta 0:00:07
   ------- -------------------------------- 8.2/43.9 MB 5.5 MB/s eta 0:00:07
   ------- -------------------------------- 8.3/43.9 MB 5.0 MB/s eta 0:00:08
   ------- -------------------------------- 8.5/43.9 MB 4.9 MB/s eta 0:00:08
   -------- ------------------------------- 8.8/43.9 MB 5.0 MB/s eta 0:00:08
   -------- ------------------------------- 9.2/43.9 MB 5.0 MB/s eta 0:00:07
   -------- ------------------------------- 9.4/43.9 MB 5.1 MB/s eta 0:00:07
   -------- ------------------------------- 9.4/43.9 MB 5.1 MB/s eta 0:00:07
   -------- ------------------------------- 9.4/43.9 MB 4.9 MB/s eta 0:00:08
   -------- ------------------------------- 9.6/43.9 MB 4.8 MB/s eta 0:00:08
   --------- ------------------------------ 10.0/43.9 MB 4.9 MB/s eta 0:00:07
   --------- ------------------------------ 10.3/43.9 MB 4.9 MB/s eta 0:00:07
   --------- ------------------------------ 10.6/43.9 MB 4.9 MB/s eta 0:00:07
   ---------- ----------------------------- 11.0/43.9 MB 4.9 MB/s eta 0:00:07
   ---------- ----------------------------- 11.4/43.9 MB 4.9 MB/s eta 0:00:07
   ---------- ----------------------------- 11.7/43.9 MB 5.0 MB/s eta 0:00:07
   ---------- ----------------------------- 11.9/43.9 MB 5.0 MB/s eta 0:00:07
   ---------- ----------------------------- 11.9/43.9 MB 5.0 MB/s eta 0:00:07
   ---------- ----------------------------- 12.0/43.9 MB 4.7 MB/s eta 0:00:07
   ----------- ---------------------------- 12.2/43.9 MB 4.7 MB/s eta 0:00:07
   ----------- ---------------------------- 12.5/43.9 MB 4.7 MB/s eta 0:00:07
   ----------- ---------------------------- 12.8/43.9 MB 4.6 MB/s eta 0:00:07
   ----------- ---------------------------- 13.0/43.9 MB 4.6 MB/s eta 0:00:07
   ------------ --------------------------- 13.2/43.9 MB 4.6 MB/s eta 0:00:07
   ------------ --------------------------- 13.2/43.9 MB 4.6 MB/s eta 0:00:07
   ------------ --------------------------- 13.3/43.9 MB 4.5 MB/s eta 0:00:07
   ------------ --------------------------- 13.4/43.9 MB 4.4 MB/s eta 0:00:07
   ------------ --------------------------- 13.8/43.9 MB 4.4 MB/s eta 0:00:07
   ------------ --------------------------- 14.1/43.9 MB 4.4 MB/s eta 0:00:07
   ------------- -------------------------- 14.5/43.9 MB 4.6 MB/s eta 0:00:07
   ------------- -------------------------- 14.8/43.9 MB 4.8 MB/s eta 0:00:07
   ------------- -------------------------- 15.2/43.9 MB 4.8 MB/s eta 0:00:07
   -------------- ------------------------- 15.5/43.9 MB 4.8 MB/s eta 0:00:06
   -------------- ------------------------- 15.9/43.9 MB 4.7 MB/s eta 0:00:06
   -------------- ------------------------- 16.2/43.9 MB 4.9 MB/s eta 0:00:06
   --------------- ------------------------ 16.6/43.9 MB 5.1 MB/s eta 0:00:06
   --------------- ------------------------ 16.9/43.9 MB 5.0 MB/s eta 0:00:06
   --------------- ------------------------ 17.3/43.9 MB 5.1 MB/s eta 0:00:06
   ---------------- ----------------------- 17.6/43.9 MB 5.1 MB/s eta 0:00:06
   ---------------- ----------------------- 17.9/43.9 MB 5.1 MB/s eta 0:00:06
   ---------------- ----------------------- 18.2/43.9 MB 5.0 MB/s eta 0:00:06
   ---------------- ----------------------- 18.5/43.9 MB 5.5 MB/s eta 0:00:05
   ----------------- ---------------------- 18.7/43.9 MB 5.5 MB/s eta 0:00:05
   ----------------- ---------------------- 18.7/43.9 MB 5.4 MB/s eta 0:00:05
   ----------------- ---------------------- 18.8/43.9 MB 5.3 MB/s eta 0:00:05
   ----------------- ---------------------- 19.1/43.9 MB 5.2 MB/s eta 0:00:05
   ----------------- ---------------------- 19.4/43.9 MB 5.2 MB/s eta 0:00:05
   ------------------ --------------------- 19.8/43.9 MB 5.6 MB/s eta 0:00:05
   ------------------ --------------------- 20.2/43.9 MB 5.5 MB/s eta 0:00:05
   ------------------ --------------------- 20.5/43.9 MB 5.5 MB/s eta 0:00:05
   ------------------ --------------------- 20.8/43.9 MB 5.6 MB/s eta 0:00:05
   ------------------- -------------------- 21.1/43.9 MB 5.6 MB/s eta 0:00:05
   ------------------- -------------------- 21.1/43.9 MB 5.6 MB/s eta 0:00:05
   ------------------- -------------------- 21.1/43.9 MB 5.3 MB/s eta 0:00:05
   ------------------- -------------------- 21.3/43.9 MB 5.2 MB/s eta 0:00:05
   ------------------- -------------------- 21.6/43.9 MB 5.2 MB/s eta 0:00:05
   ------------------- -------------------- 21.8/43.9 MB 5.2 MB/s eta 0:00:05
   -------------------- ------------------- 22.1/43.9 MB 5.2 MB/s eta 0:00:05
   -------------------- ------------------- 22.2/43.9 MB 5.4 MB/s eta 0:00:05
   -------------------- ------------------- 22.5/43.9 MB 5.4 MB/s eta 0:00:04
   -------------------- ------------------- 22.8/43.9 MB 5.5 MB/s eta 0:00:04
   -------------------- ------------------- 22.8/43.9 MB 5.5 MB/s eta 0:00:04
   -------------------- ------------------- 22.8/43.9 MB 5.1 MB/s eta 0:00:05
   --------------------- ------------------ 23.1/43.9 MB 5.1 MB/s eta 0:00:05
   --------------------- ------------------ 23.5/43.9 MB 5.1 MB/s eta 0:00:04
   --------------------- ------------------ 23.8/43.9 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 24.2/43.9 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 24.5/43.9 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 24.5/43.9 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 24.5/43.9 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 24.6/43.9 MB 5.1 MB/s eta 0:00:04
   ---------------------- ----------------- 24.7/43.9 MB 5.1 MB/s eta 0:00:04
   ---------------------- ----------------- 24.9/43.9 MB 5.0 MB/s eta 0:00:04
   ---------------------- ----------------- 25.2/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.5/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 5.0 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/43.9 MB 4.4 MB/s eta 0:00:05
   ----------------------- ---------------- 26.1/43.9 MB 4.5 MB/s eta 0:00:04
   ------------------------- -------------- 27.8/43.9 MB 4.9 MB/s eta 0:00:04
   ------------------------- -------------- 28.0/43.9 MB 4.9 MB/s eta 0:00:04
   ------------------------- -------------- 28.3/43.9 MB 4.9 MB/s eta 0:00:04
   -------------------------- ------------- 28.6/43.9 MB 4.9 MB/s eta 0:00:04
   -------------------------- ------------- 28.9/43.9 MB 4.8 MB/s eta 0:00:04
   -------------------------- ------------- 29.2/43.9 MB 5.1 MB/s eta 0:00:03
   -------------------------- ------------- 29.5/43.9 MB 5.0 MB/s eta 0:00:03
   --------------------------- ------------ 29.9/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.2/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/43.9 MB 5.1 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/43.9 MB 4.6 MB/s eta 0:00:03
   --------------------------- ------------ 30.5/43.9 MB 4.5 MB/s eta 0:00:03
   --------------------------- ------------ 30.6/43.9 MB 4.5 MB/s eta 0:00:03
   ---------------------------- ----------- 30.8/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 30.8/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.0/43.9 MB 4.3 MB/s eta 0:00:03
   ---------------------------- ----------- 31.2/43.9 MB 4.3 MB/s eta 0:00:03
   ---------------------------- ----------- 31.3/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ---------------------------- ----------- 31.4/43.9 MB 4.4 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03
   ------------------------------ --------- 33.0/43.9 MB 4.3 MB/s eta 0:00:03

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\TZ\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
# Імпортуємо необхідні бібліотеки
import pandas as pd
import numpy as np
import random
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Генерація тестового набору даних на військову тематику
random.seed(42)

# Визначаємо кількість записів
n = 100

# Список для генерації даних
ranks = ['Private', 'Sergeant', 'Lieutenant', 'Captain', 'Major', 'Colonel']
missions_completed = [random.randint(0, 30) for _ in range(n)]
years_of_service = [random.randint(1, 25) for _ in range(n)]
age = [random.randint(20, 55) for _ in range(n)]
salary = [random.randint(25000, 80000) for _ in range(n)]
rank = [random.choice(ranks) for _ in range(n)]

# Створюємо DataFrame
military_data = pd.DataFrame({
    'age': age,
    'years_of_service': years_of_service,
    'missions_completed': missions_completed,
    'salary': salary,
    'rank': rank
})

# Виведемо початковий набір даних
print("Початковий тестовий набір даних на військову тематику:")
display(military_data)

# 1. Трансформація даних: Робота з пропущеними значеннями
# Для демонстрації додамо кілька пропущених значень
military_data.loc[random.sample(range(n), 5), 'missions_completed'] = np.nan

# Заповнення пропусків середнім значенням
military_data_filled = military_data.fillna(military_data['missions_completed'].mean())

print("\nНабір даних після заповнення пропусків середніми значеннями:")
display(military_data_filled)

# 2. Нормалізація даних: Нормалізуємо числові значення 'salary' і 'missions_completed'
military_data_filled['salary_norm'] = (military_data_filled['salary'] - military_data_filled['salary'].mean()) / military_data_filled['salary'].std()
military_data_filled['missions_completed_norm'] = (military_data_filled['missions_completed'] - military_data_filled['missions_completed'].mean()) / military_data_filled['missions_completed'].std()

print("\nНабір даних після нормалізації:")
display(military_data_filled)

# 3. Перетворення категоріальних змінних (One-Hot Encoding) для звання
military_data_transformed = pd.get_dummies(military_data_filled, columns=['rank'])

print("\nНабір даних після перетворення категоріальних змінних (One-Hot Encoding):")
display(military_data_transformed)

# 4. Масштабування даних (Min-Max Scaling) для 'years_of_service' та 'salary'
scaler = MinMaxScaler()

military_data_transformed[['years_of_service_scaled', 'salary_scaled']] = scaler.fit_transform(military_data_transformed[['years_of_service', 'salary']])

print("\nНабір даних після масштабування:")
display(military_data_transformed)

# 5. Декомпозиція набору даних: Поділ на навчальну та тестову вибірки
train_set, test_set = train_test_split(military_data_transformed, test_size=0.2, random_state=42)

print("\nНавчальна вибірка:")
display(train_set)

print("\nТестова вибірка:")
display(test_set)

# 6. Аналіз кореляції ознак
correlation_matrix = military_data_transformed.corr()

print("\nМатриця кореляції:")
display(correlation_matrix)

# 7. Агрегація даних за кількістю років служби
grouped_data = military_data_transformed.groupby('years_of_service').agg({'salary': ['mean', 'count']})

print("\nАгрегація даних за кількістю років служби:")
display(grouped_data)

Початковий тестовий набір даних на військову тематику:

    age  years_of_service  missions_completed  salary        rank
0    31                 7                  20   28315    Sergeant
1    52                22                   3   67738  Lieutenant
2    26                 9                   0   60427     Private
3    39                23                  23   79789    Sergeant
4    52                22                   8   25967  Lieutenant
..  ...               ...                 ...     ...         ...
95   35                24                  26   29801     Captain
96   24                24                  11   60234     Colonel
97   48                 9                   5   38969     Colonel
98   55                17                  11   58153    Sergeant
99   26                25                  11   42380  Lieutenant

[100 rows x 5 columns]

Набір даних після заповнення пропусків середніми значеннями:

    age  years_of_service  missions_completed  salary        rank
0    31                 7           20.000000   28315    Sergeant
1    52                22            3.000000   67738  Lieutenant
2    26                 9            0.000000   60427     Private
3    39                23           23.000000   79789    Sergeant
4    52                22           13.189474   25967  Lieutenant
..  ...               ...                 ...     ...         ...
95   35                24           26.000000   29801     Captain
96   24                24           11.000000   60234     Colonel
97   48                 9            5.000000   38969     Colonel
98   55                17           11.000000   58153    Sergeant
99   26                25           11.000000   42380  Lieutenant

[100 rows x 5 columns]

Набір даних після нормалізації:

,age,years_of_service,missions_completed,salary,rank,salary_norm,missions_completed_norm
0,31,7,20.000000,28315,Sergeant,-1.411568,7.991274e-01
1,52,22,3.000000,67738,Lieutenant,1.107741,-1.195603e+00
2,26,9,0.000000,60427,Private,0.640534,-1.547615e+00
3,39,23,23.000000,79789,Sergeant,1.877854,1.151139e+00
4,52,22,13.189474,25967,Lieutenant,-1.561616,2.084326e-16
...,...,...,...,...,...,...,...
95,35,24,26.000000,29801,Captain,-1.316606,1.503150e+00
96,24,24,11.000000,60234,Colonel,0.628201,-2.569065e-01
97,48,9,5.000000,38969,Colonel,-0.730729,-9.609291e-01
98,55,17,11.000000,58153,Sergeant,0.495216,-2.569065e-01
99,26,25,11.000000,42380,Lieutenant,-0.512751,-2.569065e-01

Набір даних після перетворення категоріальних змінних (One-Hot Encoding):

,age,years_of_service,missions_completed,salary,salary_norm,missions_completed_norm,rank_Captain,rank_Colonel,rank_Lieutenant,rank_Major,rank_Private,rank_Sergeant
0,31,7,20.000000,28315,-1.411568,7.991274e-01,False,False,False,False,False,True
1,52,22,3.000000,67738,1.107741,-1.195603e+00,False,False,True,False,False,False
2,26,9,0.000000,60427,0.640534,-1.547615e+00,False,False,False,False,True,False
3,39,23,23.000000,79789,1.877854,1.151139e+00,False,False,False,False,False,True
4,52,22,13.189474,25967,-1.561616,2.084326e-16,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
95,35,24,26.000000,29801,-1.316606,1.503150e+00,True,False,False,False,False,False
96,24,24,11.000000,60234,0.628201,-2.569065e-01,False,True,False,False,False,False
97,48,9,5.000000,38969,-0.730729,-9.609291e-01,False,True,False,False,False,False
98,55,17,11.000000,58153,0.495216,-2.569065e-01,False,False,False,False,False,True
99,26,25,11.000000,42380,-0.512751,-2.569065e-01,False,False,True,False,False,False

Набір даних після масштабування:

,age,years_of_service,missions_completed,salary,salary_norm,missions_completed_norm,rank_Captain,rank_Colonel,rank_Lieutenant,rank_Major,rank_Private,rank_Sergeant,years_of_service_scaled,salary_scaled
0,31,7,20.000000,28315,-1.411568,7.991274e-01,False,False,False,False,False,True,0.250000,0.058081
1,52,22,3.000000,67738,1.107741,-1.195603e+00,False,False,True,False,False,False,0.875000,0.779480
2,26,9,0.000000,60427,0.640534,-1.547615e+00,False,False,False,False,True,False,0.333333,0.645696
3,39,23,23.000000,79789,1.877854,1.151139e+00,False,False,False,False,False,True,0.916667,1.000000
4,52,22,13.189474,25967,-1.561616,2.084326e-16,False,False,True,False,False,False,0.875000,0.015115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,35,24,26.000000,29801,-1.316606,1.503150e+00,True,False,False,False,False,False,0.958333,0.085273
96,24,24,11.000000,60234,0.628201,-2.569065e-01,False,True,False,False,False,False,0.958333,0.642164
97,48,9,5.000000,38969,-0.730729,-9.609291e-01,False,True,False,False,False,False,0.333333,0.253038
98,55,17,11.000000,58153,0.495216,-2.569065e-01,False,False,False,False,False,True,0.666667,0.604084
99,26,25,11.000000,42380,-0.512751,-2.569065e-01,False,False,True,False,False,False,1.000000,0.315455

Навчальна вибірка:

,age,years_of_service,missions_completed,salary,salary_norm,missions_completed_norm,rank_Captain,rank_Colonel,rank_Lieutenant,rank_Major,rank_Private,rank_Sergeant,years_of_service_scaled,salary_scaled
55,34,12,11.0,63996,0.868610,-0.256906,False,True,False,False,False,False,0.458333,0.711005
88,54,11,7.0,74274,1.525421,-0.726255,False,False,False,False,False,True,0.416667,0.899081
26,28,8,6.0,72874,1.435954,-0.843592,False,False,False,False,False,True,0.291667,0.873463
42,48,5,22.0,45552,-0.310046,1.033802,False,True,False,False,False,False,0.166667,0.373499
69,50,20,17.0,68081,1.129660,0.447116,True,False,False,False,False,False,0.791667,0.785756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,52,3,25.0,32856,-1.121378,1.385813,False,False,False,False,True,False,0.083333,0.141176
71,32,13,26.0,62042,0.743740,1.503150,False,False,False,False,True,False,0.500000,0.675249
14,21,15,2.0,28842,-1.377891,-1.312940,False,False,False,False,True,False,0.583333,0.067724
92,31,6,8.0,65708,0.978014,-0.608918,False,False,False,False,False,True,0.208333,0.742333
51,34,19,3.0,58281,0.503395,-1.195603,False,False,False,False,False,True,0.750000,0.606427

Тестова вибірка:

,age,years_of_service,missions_completed,salary,salary_norm,missions_completed_norm,rank_Captain,rank_Colonel,rank_Lieutenant,rank_Major,rank_Private,rank_Sergeant,years_of_service_scaled,salary_scaled
83,41,18,7.000000,69019,1.189602,-7.262549e-01,True,False,False,False,False,False,0.708333,0.802921
53,24,19,12.000000,37178,-0.845182,-1.395694e-01,True,False,False,False,False,False,0.750000,0.220264
70,46,3,9.000000,63251,0.821001,-4.915807e-01,False,False,False,False,False,True,0.083333,0.697372
45,34,8,8.000000,63284,0.823110,-6.089178e-01,False,False,False,False,True,False,0.291667,0.697976
44,35,5,10.000000,28286,-1.413422,-3.742436e-01,False,False,True,False,False,False,0.166667,0.057550
39,43,13,24.000000,60533,0.647308,1.268476e+00,False,False,True,False,False,False,0.500000,0.647636
22,25,11,16.000000,54819,0.282158,3.297790e-01,False,False,False,False,True,False,0.416667,0.543076
80,26,24,2.000000,42407,-0.511025,-1.312940e+00,False,False,False,False,True,False,0.958333,0.315949
10,53,18,21.000000,56826,0.410414,9.164645e-01,False,False,True,False,False,False,0.708333,0.579802
0,31,7,20.000000,28315,-1.411568,7.991274e-01,False,False,False,False,False,True,0.250000,0.058081
18,35,23,0.000000,50586,0.011650,-1.547615e+00,False,True,False,False,False,False,0.916667,0.465616
30,30,9,17.000000,72081,1.385278,4.471161e-01,False,False,False,False,False,True,0.333333,0.858952
73,26,20,19.000000,45733,-0.298479,6.817903e-01,False,False,True,False,False,False,0.791667,0.376812
33,47,19,14.000000,37445,-0.828120,9.510481e-02,False,False,False,False,False,True,0.750000,0.225150
90,28,10,3.000000,25610,-1.584430,-1.195603e+00,True,False,False,False,False,False,0.375000,0.008582
4,52,22,13.189474,25967,-1.561616,2.084326e-16,False,False,True,False,False,False,0.875000,0.015115
76,47,9,11.000000,68891,1.181423,-2.569065e-01,False,False,False,False,False,True,0.333333,0.800578
77,46,18,18.000000,71936,1.376012,5.644532e-01,False,True,False,False,False,False,0.708333,0.856298
12,40,8,28.000000,39008,-0.728237,1.737824e+00,False,True,False,False,False,False,0.291667,0.253751
31,36,3,13.000000,56894,0.414760,-2.223229e-02,False,True,False,False,False,False,0.083333,0.581046

Матриця кореляції:

,age,years_of_service,missions_completed,salary,salary_norm,missions_completed_norm,rank_Captain,rank_Colonel,rank_Lieutenant,rank_Major,rank_Private,rank_Sergeant,years_of_service_scaled,salary_scaled
age,1.000000,-0.158676,0.109302,0.009517,0.009517,0.109302,-0.064462,-0.007916,0.065260,0.034201,-0.072535,0.025879,-0.158676,0.009517
years_of_service,-0.158676,1.000000,-0.087853,-0.087003,-0.087003,-0.087853,0.083945,0.024600,0.063687,-0.014597,0.051565,-0.184797,1.000000,-0.087003
missions_completed,0.109302,-0.087853,1.000000,-0.057651,-0.057651,1.000000,-0.039993,-0.070943,0.000610,0.229533,-0.019531,-0.083201,-0.087853,-0.057651
salary,0.009517,-0.087003,-0.057651,1.000000,1.000000,-0.057651,-0.116785,-0.051635,-0.161075,0.089621,-0.023754,0.242778,-0.087003,1.000000
salary_norm,0.009517,-0.087003,-0.057651,1.000000,1.000000,-0.057651,-0.116785,-0.051635,-0.161075,0.089621,-0.023754,0.242778,-0.087003,1.000000
missions_completed_norm,0.109302,-0.087853,1.000000,-0.057651,-0.057651,1.000000,-0.039993,-0.070943,0.000610,0.229533,-0.019531,-0.083201,-0.087853,-0.057651
rank_Captain,-0.064462,0.083945,-0.039993,-0.116785,-0.116785,-0.039993,1.000000,-0.152312,-0.162142,-0.126886,-0.142327,-0.157243,0.083945,-0.116785
rank_Colonel,-0.007916,0.024600,-0.070943,-0.051635,-0.051635,-0.070943,-0.152312,1.000000,-0.249707,-0.195411,-0.219189,-0.242161,0.024600,-0.051635
rank_Lieutenant,0.065260,0.063687,0.000610,-0.161075,-0.161075,0.000610,-0.162142,-0.249707,1.000000,-0.208023,-0.233336,-0.257790,0.063687,-0.161075
rank_Major,0.034201,-0.014597,0.229533,0.089621,0.089621,0.229533,-0.126886,-0.195411,-0.208023,1.000000,-0.182600,-0.201737,-0.014597,0.089621
rank_Private,-0.072535,0.051565,-0.019531,-0.023754,-0.023754,-0.019531,-0.142327,-0.219189,-0.233336,-0.182600,1.000000,-0.226285,0.051565,-0.023754
rank_Sergeant,0.025879,-0.184797,-0.083201,0.242778,0.242778,-0.083201,-0.157243,-0.242161,-0.257790,-0.201737,-0.226285,1.000000,-0.184797,0.242778
years_of_service_scaled,-0.158676,1.000000,-0.087853,-0.087003,-0.087003,-0.087853,0.083945,0.024600,0.063687,-0.014597,0.051565,-0.184797,1.000000,-0.087003
salary_scaled,0.009517,-0.087003,-0.057651,1.000000,1.000000,-0.057651,-0.116785,-0.051635,-0.161075,0.089621,-0.023754,0.242778,-0.087003,1.000000

Агрегація даних за кількістю років служби:

                        salary
                          mean count
years_of_service
1                 38571.000000     2
2                 62708.000000     3
3                 56846.500000     4
4                 47877.333333     3
5                 51762.500000     4
6                 58553.750000     4
7                 30763.666667     3
8                 56200.600000     5
9                 49865.875000     8
10                25610.000000     1
11                57445.500000     4
12                63996.000000     1
13                52581.833333     6
14                45919.333333     3
15                51711.500000     4
16                62339.000000     2
17                45651.000000     3
18                59653.666667     6
19                44301.333333     3
20                51435.000000     3
21                36775.285714     7
22                45791.666667     6
23                58273.333333     3
24                45660.166667     6
25                53899.500000     6